#grid-container{
    display: flex;
    width: 512px;
    flex-wrap: wrap;

}

.grid-square{
    box-sizing: border-box;
    border: 1px solid brown;
    min-height: 32px;
    min-width: 32px;
    flex: 1;
 
}

.grid-square:hover{
    background: black;
}

